/* src/TicTacToe.css */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Jura", serif;
}
h2 {
  font-weight: 350;
  position: absolute;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 24px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px;
}

.square:hover {
  background-color: #e0e0e0;
}

.status {
  margin-bottom: 10px;
}
.reset {
  margin: 20px;
}
.reset {
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  
}
.reset:before {
  height: 0%;
  width: 2px;
}
.reset:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}